.animal-image {
  width: 150px;
}

.animal-name {
  font-size: 20px;
  font-weight: bold;
}

.animal-info {
  margin-left: 10em;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.animal {
  margin-bottom: 3em;
}
